@page "/reports"

<h1>Reports</h1>
<p>
    <NavLink class="btn btn-primary" href="checkinreports">
        Check-Ins
    </NavLink>
    <NavLink class="btn btn-primary" href="statisticalreports">
        Statistical
    </NavLink>
</p>

@code {

}
