@page "/seedadmin"

@inject NavigationManager  _navigationManager

<h1>@resultText</h1>

@using ImHere.Services
@inject AccountService _accountService

@code {
    private string resultText = "";

    protected override async Task OnInitializedAsync()
    {
        var result = await _accountService.CreateUserAsync("admin", "admin");

        if (result.Succeeded)
            _navigationManager.NavigateTo("/login");
        else
            resultText = "Did not create admin user.";

        await base.OnInitializedAsync();
    }
}